@charset "UTF-8";
body {
	color: #000;
	margin: 0px;
	padding: 0px;
	background-color: #CCC;
}
#links {
	padding: 5px;
	border-bottom-width: thin;
	border-bottom-style: solid;
	border-bottom-color: #666;
	margin-bottom: 20px;
}
a {
	color: #900;
	text-decoration: none;
	margin-left: 15px;
	font-size: 18px;
}
a:hover{
	color:#000;
}
#content{
	padding-top: 5px;
	padding-right: 50px;
	padding-bottom: 50px;
	padding-left: 50px;
}
table{
	padding: 10px;
	margin-top: 20px;
}
#message{
	margin-top: 10px;
	font-family: "Comic Sans MS", cursive;
	font-size: 16px;
	font-weight: lighter;
	color: #990;
	border-bottom-width: thin;
	border-bottom-style: solid;
	border-bottom-color: #990;
}