@charset "UTF-8";
body {
	color: #000;
	background-color:#333;
}
#menu{
	background-color: #E3E3E3;
	border: 1px solid #000;
	width: 250px;
	margin: 0px;
	padding: 0px;
	}
ul {
	list-style-type:none;
	margin:0px;
	padding:0px;
	margin-left:15px;
	}
ul li ul{
	display:none;
	}
ul li:hover > ul{
	display:block;
	position:relative;
  bacground-color: red;
	}
a {
	color:#000;
	text-decoration:none;
	}
a:hover{
	color:#F00;}	