body {
  margin: 0px;
  padding: 0px; }

ul {
  list-style: none; }

.imageStyle {
  padding: 5px;
  float: left;
  height: 150px;
  width: auto; }

.container {
  clear: both;
  text-align: center;
  padding: 30px; }

.selectedImage {
  width: 500px;
  height: auto; }

