body{
	margin: 0px;
	padding: 0px;
}
.js-console {
	margin: 0;
	padding: 5px 10px;
	background-color: white;
	width: 800px;
	height: 200px;
	font-family: Consolas;
	font-size: 16px;
	color: black;
	overflow-x: hidden;
	overflow-y: scroll;
	word-break: break-all;
	border: 1px solid black;
}

.js-console>p {
	margin: 0;
	padding: 0;
	overflow: hidden;
	display: block;
}

.js-console>p>span {
	margin: 0;
	padding: 0;
}

.js-console>p>br {
	display: inline-block;
	margin-bottom: 5px;
}
.content{
	background-color: #ccc;
	width: 830px;
	padding: 15px;
	margin: 0px auto;
}
#number {
	border: 1px solid black;
	padding: 5px 15px;
	background-color: black;
	color: white;
	font-family: Consolas;
	margin-bottom: 5px;
}

.btnSend a {
	color: black;
	border: 1px solid black;
	padding: 5px 15px;
	text-decoration: none;
	display: inline-block;
	margin: 15px 0;
}

.btnSend a:hover {
	text-decoration: underline;
}

.description {
	border-bottom: solid 3px black;
	padding: 15px 10px;
	margin-bottom: 20px;
}

.description span {
	font-weight: bold;
	display: block;
}