<div class="login-content">
    <label for="inp-username">Username</label>
    <input id="inp-username" type="text">
    <label for="inp-password">Password</label>
    <input id="inp-password" type="password">
    <button id="btn-login">Login</button>
</div>
<div class="register-content">
    <label for="inp-reg-username">Username</label>
    <input id="inp-reg-username" type="text">
    <label for="inp-reg-password">Password</label>
    <input id="inp-reg-password" type="password">
    <button id="btn-reg-register">Register</button>
</div>
<div style="clear: both"></div>