<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>HomeWork 1</title>
<link href="css/01-menu.css" rel="stylesheet" type="text/css">
</head>
<body>
	<div id="menu">
		<ul>
			<li><a href="#">List Item</a>
				<ul>
					<li><a href="#">Sublist Item</a>
						<ul>
							<li><a href="#">Sublist Item</a>

								<ul>
									<li><a href="#">Sublist Item</a></li>
									<li><a href="#">Sublist Item</a></li>
									<li><a href="#">Sublist Item</a></li>
									<li><a href="#">Sublist Item</a></li>
								</ul></li>
							<li><a href="#">Sublist Item</a></li>
							<li><a href="#">Sublist Item</a></li>
							<li><a href="#">Sublist Item</a></li>
						</ul></li>
					<li><a href="#">Sublist Item</a></li>
					<li><a href="#">Sublist Item</a></li>
					<li><a href="#">Sublist Item</a></li>
				</ul></li>
			<li><a href="#">List Item</a></li>
			<li><a href="#">List Item</a></li>
			<li><a href="#">List Item</a></li>
		</ul>
	</div>
</body>
</html>
