<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Homework-2</title>
<link href="css/02-music-categories.css" rel="stylesheet"
	type="text/css">
</head>
<body>
	<div id="music_module">
		<h1>Music Categories</h1>
		<ul>
			<li>
				<div id="music_item">
					<div class="music_img">
						<img src="img/music1.jpg" width="250" height="141" alt="music 1">
					</div>
					<div class="music_txt">
						The creation, performance, significance, and even the definition
						of music vary according to culture and social context. Music
						ranges from strictly organized compositions (and their recreation
						in performance), through improvisational music to aleatoric forms.
						Music can be divided into genres and subgenres, although the
						dividing lines and relationships between music genres are often
						subtle,

						<div class="music_butt">
							<input name="Listen" type="button" class="butt" value="Listen">
							<input name="Listen" type="button" class="butt" value="Add">

						</div>
					</div>


				</div>
			</li>
			<li>
				<div id="music_item">
					<div class="music_img">
						<img src="img/music2.jpg" width="250" height="141" alt="music 2">
					</div>
					<div class="music_txt">
						To many people in many cultures, music is an important part of
						their way of life. Ancient Greek and Indian philosophers defined
						music as tones ordered horizontally as melodies and vertically as
						harmonies. Common sayings such as "the harmony of the spheres"


						<div class="music_butt">
							<input name="Listen" type="button" class="butt" value="Listen">
							<input name="Listen" type="button" class="butt" value="Add">
						</div>
					</div>
				</div>
			</li>
			<li>
				<div id="music_item">
					<div class="music_img">
						<img src="img/music3.jpg" width="250" height="141" alt="music 3">
					</div>
					<div class="music_txt">
						The ancient Egyptians credited one of their gods, Thoth, with the
						invention of music, which Osiris in turn used as part of his
						effort to civilize the world. The earliest material and
						representational evidence of Egyptian musical instruments dates to
						<div class="music_butt">
							<input name="Listen" type="button" class="butt" value="Listen">
							<input name="Listen" type="button" class="butt" value="Add">
						</div>
					</div>
				</div>
			</li>
		</ul>
	</div>
</body>
</html>
