<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>About total managment</title>
<link href="css/03-about-total-management.css" rel="stylesheet"
	type="text/css">
</head>
<body>
	<div id="header_nav">
		<form action="" method="post">
			<label>members login:</label> <input name="Your name" type="text"
				id="yourname" value="Your name" /> <input name="emailid"
				type="text" id="emailid" value="Email Id" /> <input name=""
				type="submit" class="butt_f" value="GO" />
		</form>
	</div>
	<div id="main_text">
		<h1>About total managment?</h1>
		Total Management is a free, tableless, W3C-compliant web design layout
		by Template World. This template has been tested and proven compatible
		with all major browser environments and operating systems. You are
		free to modify the design to suit your tastes in any way you like. We
		only ask you to not remove <span>"Design by Template World"</span> and
		the link http://www.templateworld.com from the footer of the template.
		If you are interested in seeing more of our free web template designs
		feel free to visit our website, Template World. We intend to add at
		least 25 new free templates in the coming month.
	</div>
</body>
</html>
