<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>CSS Tutorial</title>
<link href="css/04-css-tutorial.css" rel="stylesheet" type="text/css">
</head>
<body>
	<div id="main">
		<nav>
			<div id="left">
				<div class="home">
					<img src="img/home.png" width="50" height="50" alt="Home">
					<h1>Home</h1>
				</div>
				<h2>CSS Basic</h2>
				<ul>
					<li><a href="#"> CSS HOME </a></li>
					<li><a href="#"> CSS Introduction </a></li>
					<li><a href="#"> CSS Syntax </a></li>
					<li><a href="#"> CSS Id & Class </a></li>
					<li><a href="#">CSS How To </a></li>
				</ul>
				<h2>CSS Styling</h2>
				<ul>
					<li><a href="#">Styling Backgrounds </a></li>
					<li><a href="#">Styling Text </a></li>
					<li><a href="#">Styling Fonts </a></li>
					<li><a href="#">Styling Links </a></li>
					<li><a href="#">Styling Lists </a></li>
					<li><a href="#">Styling Tables </a></li>
				</ul>
				<h2>CSS Box Model</h2>
				<ul>
					<li><a href="#"> CSSBox Model </a></li>
					<li><a href="#">CSS Border </a></li>
					<li><a href="#">CSS Outline </a></li>
					<li><a href="#">CSS Margin </a></li>
					<li><a href="#">CSS Padding </a></li>
				</ul>
				<h2>CSS Advanced</h2>
				<ul>
					<li><a href="#">CSS Grouping/Nesting </a></li>
					<li><a href="#">CSS Dimension </a></li>
					<li><a href="#">CSS Display </a></li>
					<li><a href="#">CSS Positioning </a></li>
					<li><a href="#">CSS Floating </a></li>
					<li><a href="#">CSS Align </a></li>
					<li><a href="#">CSS Pseudo-class </a></li>
					<li><a href="#">CSS Pseudo-element </a></li>
					<li><a href="#">CSS Navigation Bar </a></li>
					<li><a href="#">CSS Image Gallery </a></li>
					<li><a href="#">CSS Image Opacity </a></li>
					<li><a href="#">CSS Image Sprites </a></li>
					<li><a href="#">CSS Media Types </a></li>
					<li><a href="#">CSS Attribute Selectors </a></li>
					<li><a href="#">CSS Summary </a></li>
				</ul>
			</div>
		</nav>
		<article>
			<div id="content">
				<h2>CSS Examples</h2>
				<p>Learn from over 150 examples! With our editor, you can edit
					the CSS, and click on a button to view the result.</p>
				<p>
					<a href="#">Try-It-Yourself!</a>
				</p>
				<h2>CSS Quiz Test</h2>
				<p>Test your CSS skills at W3Schools!</p>
				<p>
					<a href="#">Start CSS Quiz!</a>
				</p>
				<h2>CSS References</h2>
				<p>At W3Schools you will find complete CSS references of all
					properties and selectors with syntax, examples, browser support,
					and more.</p>
				<p>
					<a href="#">CSS Properties Reference</a>
				</p>
				<p>
					<a href="#">CSS Selectors Reference</a>
				</p>
				<p>
					<a href="#">CSS Aural Reference</a>
				</p>
				<p>
					<a href="#">CSS Units</a>
				</p>
				<p>
					<a href="#">CSS Color Reference</a>
				</p>
				<h2>Exam - Get Your Diploma!</h2>
				<div>
					<div>
						<a href="#"><img src="img/w3cert.gif"
							alt="W3Schools Certification"></a>
					</div>
					<div>
						<h2>W3Schools' Online Certification</h2>
						<p>The perfect solution for professionals who need to balance
							work, family, and career building.</p>
						<p>More than 10 000 certificates already issued!</p>
						<p>
							<a href="#">Get Your Certificate »</a>
						</p>
					</div>
					<p>
						The <a href="#">HTML Certificate</a> documents your knowledge of
						HTML.
					</p>
					<p>
						The <a href="#">CSS Certificate</a> documents your knowledge of
						advanced CSS.
					</p>
					<p>
						The <a href="#">JavaScript Certificate</a> documents your
						knowledge of JavaScript and HTML DOM.
					</p>
					<p>
						The <a href="#">jQuery Certificate</a> documents your knowledge of
						jQuery.
					</p>
					<p>
						The <a href="#">XML Certificate</a> documents your knowledge of
						XML, XML DOM and XSLT.
					</p>
					<p>
						The <a href="#">ASP Certificate</a> documents your knowledge of
						ASP, SQL, and ADO.
					</p>
					<p>
						The <a href="#">PHP Certificate</a> documents your knowledge of
						PHP and SQL (MySQL).
					</p>
				</div>
				<p>&nbsp;</p>
			</div>
		</article>
		<section>
			<div id="right">
				<div id="module">
					<h2>Module header 1</h2>
					<div class="mod_text">some text for this module</div>
				</div>
				<div id="module">
					<h2>Module header 2</h2>
					<div class="mod_text">
						<a href="#">some text for this module </a>
					</div>
				</div>
				<div id="module">
					<h2>Module header 3</h2>
					<div class="mod_text">
						<a href="#">some text for this module </a>
					</div>
				</div>
				<div id="module">
					<h2>WEB HOSTING</h2>
					<div class="mod_text">
						<a href="#"> Best Web Hosting eUK Web Hosting UK Reseller
							Hosting Cloud Hosting Top Web Hosting </a>
					</div>
				</div>
				<div id="module">
					<h2>WEB BUILDING</h2>
					<div class="mod_text">
						<a href="#"> XML Editor - Free Trial! FREE Website BUILDER
							FREE Website Creator </a>
					</div>
				</div>
			</div>
		</section>
	</div>
</body>
</html>
