<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>News</title>
<link href="css/06-novinite.css" rel="stylesheet" type="text/css">
</head>
<body>
	<div id="page">
		<table border="0" cellspacing="0" cellpadding="0">
			<tr>
				<td colspan="2">
					<nav id="nav_top">
						<ul>
							<li class="active"><a href="#">Новините </a></li>
							<li><a href="#"> Спорт </a></li>
							<li><a href="#">Емисии</a></li>
							<li><a href="#">Любопитно</a></li>
							<li><a href="#">Аз, репортерът</a></li>
							<li><a href="#">Тази сутрин</a></li>
						</ul>
					</nav>
				</td>
			</tr>
			<tr>
				<td valign="top">
					<nav id="nav-left">
						<ul>
							<li class="active"><a href="#">Интернет Новини</a></li>
							<li><a href="#">проливни дъждове някъде си из света</a></li>
							<li><a href="#">Над еди колко си хектара горят силно на
									важен полигон в морето </a></li>
							<li><a href="#">1 е ранен при силно натоварване на лан
									мрежата</a></li>
							<li><a href="#">много пенсионери в бюрото по труда</a></li>
						</ul>
					</nav>
				</td>
				<td valign="top">
					<div class="snimki">
						<img src="img/snimka.jpg">
					</div>
				</td>
			</tr>
		</table>
	</div>
</body>
</html>
